{% include 'user/navbar.html'%}
      <!-- contact section start -->
      <div class="contact_section layout_padding">
      <div class="container">
         <div class="row">
            <div class="col-sm-12">
               <h1 class="contact_taital">My <span class="contact_taital_1">Contact</span></h1>
            </div>
         </div>
         <div class="contact_section_2">
            <div class="row">
               <div class="col-md-12">
                  <div class="mail_section_1">

                     <form action="/save_enq/" method="post">
                        {% csrf_token%}
                        <input type="text" class="mail_text" placeholder="Your Name" name="name">
                        <input type="text" class="mail_text" placeholder="Your Email" name="email">
                        <input type="number" class="mail_text" placeholder="Your Phone" name="mobile" required min="10">
                        <textarea class="massage-bt" placeholder="Your Massage" rows="5" id="comment"
                           name="massage"></textarea>
                        <button type="submit" class="send_bt"
                           style="height: 30px; background-color: blue;color: whitesmoke;border-radius: 5px;width: 75px;">Send
                           </button">
                     </form>

                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
      <!-- contact section end -->
      {% include 'user/footer.html'%}