{% include 'user/navbar.html'%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<!-- services section start -->
<div class="services_section layout_padding margin_90">
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <h1 class="services_taital">My <span class="portfolio_taital_1">Services</span></h1>
         </div>
      </div>
   </div>
   <div class="container">
      <div class="services_section_2">
         <div class="row">
            {% for s in service_data %}
            <div class="col-lg-3 col-sm-6">
               <div class="box_main ">
                  <div class="app_icon" style="
                                               width: 80px;
                                               height: 80px;
                                               margin: 0 auto;
                                               background-image: url(/{{s.service_image}});
                                               background-size:cover;
                                               border-radius: 100%;
                                               text-align: center;
                                               align-items: center;
                                               justify-content: center;">
                                               <!-- <img src="/{{s.service_image}}"> -->
                                             </div>
                  <div class="app_icon_1" style="
                                               width: 75px;
                                               height: 80px;
                                               margin: 0 auto;
                                               background-image: url(/{{s.service_image}});
                                               background-size:cover;
                                               border-radius: 100%;
                                               text-align: center;
                                               align-items: center;
                                               justify-content: center;">
                                               <!-- <img src="/{{s.service_image}}"> -->
                                             </div>

                  <h4 class="services_text">{{s.service_title}}</h4>
                  <a href="{%url 'delete_service_user' s.id %}"><span class="delete_service" onclick="return confirm('are you sure')"><i class="fa-solid fa-trash-can fa-shake fa-xs" style="color: rgb(239, 10, 10);"></i></span></a>
                  <a href="{%url 'update_service_user' s.id %}"><span class="update_service"><i class="fa-solid fa-arrows-rotate fa-spin fa-xs" style="color: rgb(3, 101, 8);"></i></span></a>
               </div>
            </div>
            {% endfor %}
         </div>
         <div class="readmore_bt"><a href="/services">Add Services</a></div>
      </div>
   </div>
</div>
<!-- services section end -->
{% include 'user/footer.html'%}